[build]
  publish ="public/"
  command = "yarn install && yarn lint && gatsby build"

[context.branch-deploy.environment]
  GATSBY_DEPLOY_ENV = "main"

[context.production.environment]
  GATSBY_DEPLOY_ENV = "prod"
